{
    "extends": [ "plugin:@wordpress/eslint-plugin/recommended" ],
    "globals": {
        "ffI18n": "readonly",
        "fetch": "readonly",
        "FormData": "readonly",
        "ffcGlobal": "readonly"
    }
}
